<div class="wrap-section">
  <section>
      <div class="score">
          <div class="player-score">
              <h2>Player</h2>
              <p #playerScore>{{pScore}}</p>
          </div>
          <div class="computer-score">
              <h2>Computer</h2>
              <p #computerScore>{{cScore}}</p>
          </div>
      </div>
      <div class="intro">
          <h1>Rock | Paper | scissors</h1>
          <button>Let's Play</button>
      </div>
      <div class="match unActive">
        <h2 #winner class="winner">Choose an option</h2>
        <div class="hands">
          <img #playerHand src="./assets/rock.png" alt="" class="player-hand">
          <img #computerHand src="./assets/rock.png" alt="" class="computer-hand">
        </div>
        <div class="options">
            <button (click)="selectBtn($event)" class="rock">rock</button>
            <button (click)="selectBtn($event)" class="paper">paper</button>
            <button (click)="selectBtn($event)" class="scissors">scissors</button>
        </div>
      </div>
  </section>
</div>
